@using WmsHub.Ui.Models
@model ReferralListItemModel

<input type="hidden" asp-for="ActiveUser" />
<div class="nhsuk-grid-row" id="rmc-referral-view">
  <div class="nhsuk-grid-column-full">
    <h3>Manage Service User Referral</h3>
  </div>
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card wms-card">
      <div class="nhsuk-card__content">
        <form method="post" asp-controller="Rmc" asp-action="ReferralView" id="referralForm">
          <input type="hidden" asp-for="StatusReason" />
          <input type="hidden" asp-for="DelayReason" />
          <input type="hidden" asp-for="DelayUntil" />
          <input type="hidden" asp-for="MinGpReferralAge" />
          <input type="hidden" asp-for="MaxGpReferralAge" />
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <partial name="_ServiceUserDetails" />
            </div>
          </div>
          @if (Model.CanConfirmEmail)
          {
            <div class="nhsuk-grid-row referralview-email">
              <div class="nhsuk-form-group">
                <div class="nhsuk-grid-column-one-half nhsuk-u-margin-bottom-6">

                  <label class="nhsuk-label" asp-for="Email">Service User Email Address:</label>

                  <span class="nhsuk-error-message" id="email-error">
                    A valid email address is required
                  </span>
                  <input type="email"
                       class="nhsuk-input nhsuk-u-width-two-thirds"
                       asp-for="Email" />
                </div>

                <div class="nhsuk-grid-column-one-half referralview-ethnicity-button">
                  <div class="referralview-ethnicity-button-wrapper">
                    <input type="submit"
                         id="confirmEmail"
                         asp-action="ConfirmEmail"
                         value="Confirm Email"
                         class="nhsuk-button nhsuk-u-margin-bottom-6" />
                  </div>
                </div>
              </div>
            </div>
          }
          @if (Model.CanConfirmEthnicity && Model.HasEmail)
          {
            <div id="div-select-ethnicity" class="nhsuk-grid-row referralview-ethnicity">
              <div class="nhsuk-form-group">
                <div class="nhsuk-grid-column-one-half nhsuk-u-margin-bottom-6">

                  <label class="nhsuk-label" asp-for="SelectedEthnicity">Service User Ethnicity</label>
                  <div class="nhsuk-hint" id="select-2-hint">
                    Select Ethnicity to see available providers
                  </div>
                  <select class="nhsuk-select"
                        asp-for="SelectedEthnicity"
                        asp-items="Model.EthnicityList">
                    <option value="">Select Ethnicity</option>
                  </select>
                </div>

                <div class="nhsuk-grid-column-one-half referralview-ethnicity-button">
                  <div class="referralview-ethnicity-button-wrapper">
                    <input type="submit"
                         asp-action="ConfirmEthnicity"
                         value="Confirm Ethnicity"
                         class="nhsuk-button nhsuk-u-margin-bottom-6"
                         id="confirmEthnicity" />
                  </div>
                </div>
              </div>
            </div>
          }
          @if (Model.IsBmiTooLow)
          {
            <div id="BmiTooLowMessage">
              <p style="color: #d5281b">
                The service user's BMI of @Model.Bmi is below the minimum of
                @Model.SelectedEthnicGroupMinimumBmi for the selected
                ethnic group of @Model.SelectedEthnicity.
                A service user's BMI needs to be 30 or over (or 27.5 and over for
                people from black, Asian and minority ethnic backgrounds) to be
                eligible for the NHS Digital Weight Management Programme. The
                BMI threshold is lower for people from these backgrounds because
                they are at a higher risk of developing conditions such as type
                2 diabetes at a lower BMI.
              </p>
            </div>
          }
          @if (Model.CanShowProviders && Model.HasProviders && Model.HasEmail && !Model.IsBmiTooLow)
          {
            <div id="div-providers" class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                <fieldset class="nhsuk-fieldset nhsuk-u-padding-bottom-6"
                        aria-labelledby="referralview-provider-label">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h2 class="nhsuk-fieldset__heading" id="referralview-provider-label">
                      Select Provider
                    </h2>
                  </legend>
                  <div class="nhsuk-form-group">
                    <div class="nhsuk-expander-group" id="serviceProviders">

                      @foreach (var provider in Model.Providers)
                      {
                        <details class="nhsuk-details nhsuk-expander referralview-provider-detail-box">
                          <summary class="nhsuk-details__summary">
                            <h2 class="nhsuk-details__summary-text">
                              @provider.Name
                            </h2>
                          </summary>
                          <div class="nhsuk-details__text">

                            @* Summary *@
                            <div class="nhsuk-grid-row referralview-provider-row">
                              <div class="nhsuk-grid-column-full">
                                @if (provider.Logo != null)
                                {
                                  <div class="referralview-provider-logo-wrapper">
                                    <img class="referralview-provider-logo" src="@provider.Logo" alt="@provider.Name logo" width="128" height="128" />
                                  </div>
                                }
                                <p>@Html.Raw(@provider.Summary)</p>
                              </div>
                            </div>

                            <hr class="referralview-provider-hr" />

                            @* Radio button *@
                            <div class="nhsuk-grid-row">
                              <div class="nhsuk-grid-column-one-half">
                                <div class="nhsuk-form-group">

                                  <fieldset class="nhsuk-fieldset" aria-describedby="hint-@provider.Id">
                                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                                      Use this service?
                                    </legend>

                                    <div class="nhsuk-hint" id="hint-@provider.Id">
                                      Click the button below to select this service.
                                    </div>

                                    <div class="nhsuk-radios">
                                      <div class="nhsuk-radios__item">
                                        <input type="radio"
                                           asp-for="ProviderId"
                                           value="@provider.Id"
                                           id="Provider@(provider.Id)"
                                           class="nhsuk-radios__input"
                                           role="radio"
                                           data-provider-Name="@provider.Name"
                                           aria-expanded="true">
                                        <label class="nhsuk-label nhsuk-radios__label" for="Provider@(provider.Id)">
                                          Select @provider.Name
                                        </label>
                                      </div>
                                    </div>

                                  </fieldset>

                                </div>
                              </div>
                            </div>
                          </div>
                        </details>
                      }
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group">
                  <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
                    <div class="nhsuk-checkboxes__item">
                      <input type="checkbox"
                           class="nhsuk-checkboxes__input"
                           id="CanContact"
                           asp-for="ConsentForFutureContactForEvaluation" />
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="CanContact">
                        Patient agrees to be contacted by NHS England and Improvement about future surveys
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="nhsuk-grid-row nhsuk-u-padding-bottom-6">
              <div class="nhsuk-grid-column-one-half">
                <partial name="_ConfirmProvider" />
              </div>
            </div>
          }
          <partial name="_DelayContact" />
        </form>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-full">
    <h3>Service User History</h3>
  </div>
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card wms-card">
      <div class="nhsuk-card__content">
        @if (Model.HasAuditList)
        {
          <partial name="_ServiceUserAuditDetails" model="Model.AuditList" />
        }
      </div>
    </div>
  </div>
</div>

@section scripts{
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
  <link rel="stylesheet" href="~/css/jquer.local.css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.0.26/signalr.min.js" integrity="sha512-b6eoEcu0xfFPMuNtfGgk0HXtbwep2u4Zfyu7yowAF+4IfMDHfvbro13zeZnrtYr0nV/10bBogonVRK+7kOSmfw==" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <script type="text/javascript" src="~/lib/nhsuk-frontend-library/nhsuk-4.0.0.min.js"></script>
  <script type="text/javascript" src="~/js/views/shared/_DateOfBirthUpdate.js"></script>
  <script type="text/javascript" src="~/js/views/rmc/referral-view.js"></script>  
  <script type="text/javascript" src="~/js/referralview_signalr.js"></script>  
  <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
  <script type="text/javascript" src="~/js/utils.js"></script>
  <script type="text/javascript" src="~/js/accessible_modal.js"></script>
}