@model ProviderChoiceModel

@{
    ViewData["Title"] = "Confirm Your Service Choice";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" asp-controller="ServiceUser" asp-action="choose-provider" asp-route-id=@Model.Id>
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>

<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-full">
		<div class="nhsuk-card wms-card">
			<div class="nhsuk-card__content">

				<form
					method="post"
					asp-controller="ServiceUser"
					asp-action="Confirm-Provider"
					asp-route-id="@Model.Id">
					<fieldset class="nhsuk-fieldset">
						<legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
							<h1 class="nhsuk-fieldset__heading">
								Confirm provider choice
							</h1>
						</legend>

            <dl class="nhsuk-summary-list">

              <input type="hidden" asp-for="@Model.Provider.Id" />
              <input type="hidden" asp-for="@Model.ProviderId" />

              <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Chosen Provider
              </dt>
              <dd class="nhsuk-summary-list__value">
                <div class="serviceuser-provider-logo-wrapper">
                  <img class="serviceuser-provider-logo" src="@Model.Provider.Logo" alt="@Model.Provider.Name logo" width="100" height="100" />
                </div>
                @Model.Provider.Name
              </dd>
              </div>
						</dl>
					</fieldset>
          <p>
            You have chosen @Model.Provider.Name. Once you click confirm you will not be able to change your choice of provider. 
            If you want to choose a different provider, click the 'Change provider' button below and make another selection.
          </p>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
              <input type="submit" value="Confirm" class="nhsuk-button" />
            </div>
            <div class="nhsuk-grid-column-one-third">
              <a asp-controller="ServiceUser" asp-action="Choose-Provider" asp-route-id="@Model.Id" class="nhsuk-button nhsuk-button--secondary" draggble="false" role="button">
                Change provider
              </a>
            </div>
          </div>
				</form>
			</div>
		</div>
	</div>
</div>


@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
